
<div class="container" >

  <div *ngIf=" verifyDataSet() === false ; else elseBlock">
    DataSet Not Valid
  </div>
  <ng-template #elseBlock>
    <div class='row'>
    <div class='col-3'>
    <div class="col-5 inline-block" >
      <label>Page</label>
      <label>
        <select  class="form-control" [(ngModel)]="pageNumber" (change)="changePageNumber()" >
          <ng-container    *ngFor="let e of [].constructor(totalPageNumber); let pgNumber = index" >
            <option value="{{pgNumber}}" >{{pgNumber+1}}</option>
          </ng-container>
        </select>
      </label>
    </div>
    </div>
      <div class='col-3'>
    <div class="col-5 inline-block" >
      <label>taille de resultat</label>
      <label>
        <select  class="form-control" [(ngModel)]="selectedPageSize" (change)="changePageSize()">
          <option selected value="2">2</option>
          <option value="3">3</option>
          <option value="0">Tout</option>
        </select>
      </label>
    </div> </div>
   <div class='col'> <input class="form-check-input position-static ml-10" type="text" name="" [(ngModel)]='adress' (input)='Surbrianc($event)' ></div>
    </div>
    <ul class="responsive-table tablesorter" id="tableResults">
      <li class="table-header table-fit">
        <div class="col ">
          <div class="form-check">
            <input class="form-check-input position-static" type="checkbox" name="" value="option1" (click)="selectAllRows($event)" aria-label="...">
          </div>
        </div>
        <div class="col " *ngFor="let col of columns">{{col}}</div>
        <div class="col " > </div>
      </li>
      <!--todo  check if row is null  -->

      <ng-container    *ngFor="let row of rows | slice: sliceStart: sliceEnd " >
        <!-- <div>-->
        <li class="table-row primary-row" *ngIf="row.data !== null"  >
          <div class="col fitcontent" >
            <div class="form-check">
              <input class="form-check-input position-static" type="checkbox"
                     value="{{row.rowId}}"
                     (change)="selectRow(row.rowId ,$event)">
            </div>
          </div>


          <div class="col fitcontent"  *ngFor="let dataSet of row.data"  >
            <div *ngIf=" typeOf(dataSet) ==='boolean'; else elseBlock">
              <i *ngIf=" dataSet == true " class="fa fa-check-circle fa-1x text-success "> </i>
              <i *ngIf=" dataSet == false " class="fa fa-times-circle fa-1x text-danger"></i>
            </div>
            <ng-template #elseBlock>{{dataSet}}</ng-template>
          </div>
          <div class="col fitcontent" >
            <div class="pointer fitcontent" (click)="toggleSubData($event,'row-'+row.rowId )"> <i class="fa fa-eye-slash"></i> </div>
          </div>
        </li>
        <li class="table-row ml-5 hideSubRow "   *ngFor="let subRowEle of row.subrow  "  id="row-{{row.rowId}}">

          <div class="col fitcontent"  *ngFor="let dataSet of subRowEle"  >

            <div *ngIf=" typeOf(dataSet) ==='boolean'; else elseBlock">
              <i *ngIf=" dataSet == true " class="fa fa-check-circle fa-1x text-success "> </i>
              <i *ngIf=" dataSet == false " class="fa fa-times-circle fa-1x text-danger"></i>
            </div>
            <ng-template #elseBlock>{{dataSet}}</ng-template>
          </div>
          <!--          </div>-->
        </li>
      </ng-container>

    </ul>
  </ng-template>
</div>


<!-- pour tester highlight la surbriance j'ai deviser les div et ne pas afficher avec ngFor et applique un pipe sur
le div d'adress qui je veux appliquer sur laquelle la surbriance -->
<div class='df mt-10"'>
<ul class="responsive-table tablesorter ">
  <ng-container  *ngFor="let row of rows "  >
    <li class="table-row" *ngIf="row.data !== null">
      <div class="col fitcontent" >
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" aria-label="...">
        </div>
      </div>
      <div class="col fitcontent"     >
        <i *ngIf=" row.data[0] == true " class="fa fa-check-circle fa-1x text-success "> </i>
        <i *ngIf=" row.data[0] == false " class="fa fa-times-circle fa-1x text-danger"></i>
      </div>
      <div class="col fitcontent"     >

        <i *ngIf=" row.data[1] == true " class="fa fa-check fa-1x text-secondary "> </i>
        <i *ngIf=" row.data[1] == false " ></i>
      </div>
      <div class="col fitcontent"     >
        {{row.data[2]}}
      </div>
      <!-- ici le pipe de surbriance  -->
      <div class="col fitcontent"  [innerHTML]="row.data[3] | highlightSearch: surbriance ? adress :null "   >
        {{row.data[3]}}
      </div>
      <div class="col fitcontent"     >
        {{row.data[4]}}
      </div>
      <div class="col fitcontent"     >
        {{row.data[5]}}
      </div>
      <div class="col fitcontent"     >
        {{row.data[6]}}
      </div>
      <div class="col fitcontent"     >
        {{row.data[7]}}
      </div>
      <div class="col fitcontent"     >
        {{row.data[8]}}
      </div>
    </li>
  </ng-container>
</ul>
</div>

