
.container {
  //max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: inherit;

}


.fitcontent {
  width: fit-content;
}

.green-icon{
  color: green;
}

/*.ic-checkedOK{
  background-image: url('src/assets/icons/checkedmark.png') !important;
}*/

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

// hider(cacher les fils) the subrow suivant la condition de click
.hideSubRow {
  display: none !important;
}


.responsive-table {
  li {
    border-radius: 3px;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .table-header {
    font-size: 12px;
    //letter-spacing: 0.03em;
    margin-bottom: 1px
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 2px 3px 1px rgb(0 0 0 / 30%);
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 40%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 25%;
  }

  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{

    }
    li {
      display: block;
    }
    .col {

      flex-basis: 100%;

    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}


.highlight{
  background-color: violet;
  font-weight: bold;
}
