
<ng-template #content let-modal >
  <div class="modal-header ">
    <h4 class="modal-title" id="modal-basic-title">Remise d'un message à disposition</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>

      <div class="form-group">
        <br>
        <h5>Critéres de sélections</h5>


        <div class="form-group">

        </div>
        <div class="form-group row">
          <label for="example-date-input" class="col-2 col-form-label">Date de debut</label>
          <div class="col-10">
            <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-date-input" class="col-2 col-form-label">Date de fin</label>
          <div class="col-10">
            <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
          </div>
        </div>
        <br>
        <div class="form-group">
          <label >Autres Citére </label>

          <div class="form-group position-relative">

            <input type="email" class="form-control" id="example-mail" placeholder="Déstinatiare">
            <span class="form-clear d-none"><i class="material-icons">clear</i></span>
          </div>
        </div>
        <div class="form-group position-relative">
          <input type="email" class="form-control" id="example-mail" placeholder="Sujet">
          <span class="form-clear d-none"><i class="material-icons">clear</i></span>
        </div>

        <div class="form-group position-relative">
          <input type="email" class="form-control" id="example-mail" placeholder="Piéce joint">
          <span class="form-clear d-none"><i class="material-icons">clear</i></span>
        </div>


        <div class="form-group">
          <label>Date of birth</label>
          <div class="input-group">
            <div class="input-group-append">

            </div>
          </div>
        </div>
      </div>



    </form>
  </div>
  <div class="modafooter">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>



