<div
  style="
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  "
>
  <h1 style="color: #212121; font-size: 12vh">¯\_(ツ)_/¯</h1>
  <h2 style="color: #757575; font-size: 3vmin">Page not found</h2>
</div>
