@import "src/docapost-base";

.footer {
  height: 48px;
  padding: 0.25rem 1.25rem;
  margin: 0;

  img {
    height: 35px;
  }

  .btn {
    background-color: transparent !important;
    padding-right: 0;

    span {
      border-right: 2.6px solid #ececef !important;
      padding-right: 0.8rem;
      font-weight: normal;
      color: $ultramarine !important;
    }
  }

  .footer-end span {
    border: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    div {
      display: flex !important;
      flex-direction: column !important;
      margin: 0.75rem 0 !important;
      a {
        span {
          border-right: 0 !important;
        }
      }
    }
  }
}

.ico-dropdown {
  display: flex;
  flex-direction: row;
  border-radius: $border-radius;
  border: $border-width solid $border-color;
  align-items: center;
  padding: 0 5px !important;
  width: fit-content !important;
  height: fit-content !important;

  img {
    height: auto !important;
    margin: 0 0.1rem !important;
  }
}
