<div class="footer row">
  <div class="col-md-11 d-flex flex-row align-items-center">
    <div>
      <div class="ico-dropdown">
        <img src="assets/images/flags/{{ selectedLang.flag }}.png" />
        <i class="icon-chevron-down" aria-hidden="true"></i>
      </div>
    </div>
    <a class="btn btn-sm btn-ghost-ghost font-weight-bolder">
      <span>{{ 'FOOTER_HELP' | translate }}</span>
    </a>
    <a class="footer-end btn btn-sm btn-ghost-ghost font-weight-bolder">
      <span>{{ 'V1.00' | translate }}</span>
    </a>
  </div>
  <div class="col-md-1 d-flex flex-row-reverse align-items-center">
    <img class="align-self-center" src="assets/images/trust_doca_logo.png" />
  </div>
</div>
