@mixin button-outline($color) {
  color: $color;
  border-color: $color;

  &.disabled,
  &:disabled {
    color: $gray-30;
    border-color: $gray-30;
    background-color: transparent;
  }

  &:not([disabled]):not(.disabled) {
    @include hover-focus-active() {
      color: $color;
      background-color: lighten($color, 45%);
      border-color: transparent;
    }
  }
}

//specifique Ghost btn
@mixin button-ghost-($color) {
  color: $color;
  border-color: transparent;

  &:not([disabled]):not(.disabled) {
    @include hover-focus-active() {
      color: $color;
      background-color: lighten($color, 48%);
      border-color: transparent;
    }
  }

  &.disabled,
  &:disabled {
    color: $gray-30;
    border-color: transparent;
    background-color: transparent;
  }
}
