<div
  style="position: absolute; top: 10%"
  class="d-xl-flex flex-row tablet-effect"
>

</div>
<div id="login" class="container p-45">
  <div class="card-header">


      <ngb-tabset [destroyOnHide]="true" class='hider'>
        <div class="card">
        <ngb-tab title="Service d'administration en ligne">
          <ng-template ngbTabContent>

              <div class="form-group">
                <label class='ml-1 mt-3'>Identification</label>
                <input type="email" class="form-control mt-3" aria-describedby="emailHelp" placeholder="Identifiant">
                <small id="emailHelp" class="form-text text-muted">Adress email d'inscription</small>
              </div>
              <div class="form-group">

                <input type="password" class="form-control mt-4"  placeholder="Mot de pass">
              </div>

            <div class='row mt-5'>
          <div class='col'>   <button class='btn btn-link'>Mot de pass oublier</button> </div>
              <div class='col'>    <button type="submit" class="btn btn-primary ml-6" [disabled]='false'>s'identifier</button>  <div>
              </div>
              </div></div>
          </ng-template>
        </ngb-tab>
        <ngb-tab >
          <ng-template ngbTabTitle>Service d'information en ligne</ng-template>
          <ng-template ngbTabContent>

            <div class='label1 ml-1 mt-1'>identification <i class='fa-i-cursor'></i></div>
            <div class="form-group">

              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="identifiant">
              <small  class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">

              <input type="password" class="form-control"  placeholder="Password">
            </div>
            <div class="form-group">

              <input type="password" class="form-control"  placeholder="Password">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label ml-2 mt-2">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary mt-1">Submit</button>


          </ng-template>
        </ngb-tab>
        </div>
      </ngb-tabset>
    </div>
  </div>










