@import "../../../../docapost-base";

:host {
  background-image: url("../../../../assets/images/proxyclick-visitor-management-system-s86WhGhp25Y-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

#login {
  .card {
    .card-header {
      background: $white;
      border-bottom: none;
      padding-top: 4rem;
    }
  }

  .connexion {
    width: 100%;
  }
}

.blue-ball {
  width: 25rem;
  height: 25rem;
  background-blend-mode: darken;
  background-image: linear-gradient(to bottom, #0432ff, #0432ff);
  border-radius: 50%;
}

.blue-border {
  width: 100rem;
  height: 25rem;
  border-radius: 368px;
  border: solid 2px #0432ff;
}

.yellow-ball {
  width: 25rem;
  height: 25rem;
  background-color: rgba(255, 204, 0, 0.8);
  border-radius: 50%;
}

@media (max-width: 1199.98px) {
  .tablet-effect {
    top: -15% !important;
    left: -15% !important;
    .blue-border {
      margin-left: 30% !important;
    }
  }
}
.card-header {
  position: relative;
  width: 560px;
  height: 400px;
  translate: 500px 200px !important;
}
 .label1{

 }
