.custom-class {

  transform:  translate(280px, -80px) !important;
  position: fixed;
  height: 950px;



  //  transform:  translate(280px, -80px) !important;
  //  position: fixed;
  //  height: 950px;  donnne pour en haut de page lg moyenne

  //width: fit-content !important; -200   , -150x -150px
  z-index: 100500;
  //transform: translateX(50%);
}





.form-group.position-relative input {
  padding-right: 32px;
}






.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group input[type="text"], .input-group .form-control {
  border: none;
  box-shadow: none;
  padding-left: 0;
}

