<!-- main app container -->
<div class="" >
  <div class="form-row" style="margin-top:30px ">
    <div class="form-group col">
      <div class="col">
        <h5 class="card-header sticky-top" > {{ 'LABEL_Boites' | translate }}</h5></div>

    </div>
    <div class="form-group col" style="margin-right: 500px">
      <button class="btn btn-outline-info" (click)="open(content)" style="border-radius: 0.5em;"><i class="fa fa-plus-circle"></i> {{'LBEL_CREER_BOITE' | translate}}</button>
    </div>
  </div>
  <div class="form-group row">
    <div class="row flex" >
      <div class="col-5 ml-5">
        <label>Etats</label>
        <label>
          <select class="form-control "  [(ngModel)]="etat">
            <option value=true>Actives</option>
            <option value=false>inactives</option>
          </select>
        </label>

      </div>
      <div class="col-5 d-inline-block">
        <input type="text"  placeholder="Adress" class="form-control" [(ngModel)]="adress" (input)='adress'   />

      </div>
    </div>

    <div class="col-5 inline-block" >
      <label>frontal</label>
      <label>
        <select  class="form-control"  [(ngModel)]="frontal">
          <option value="frontal">frontal 1</option>
          <option value="frontal AB">frontal AB</option>
          <option value="2 frontal">2 frontal</option>
        </select>
      </label>
    </div>

    <div class="but">
      <input class="form-check-input " type="checkbox" name="" value="option1"  [(ngModel)]="surbriance">
      <button type="button" class="btn btn-link ml-5 mr-5" (click)="effacer()" >{{ 'LABEL_EFFACER_FILTRE' | translate }}</button>
      <button type="button" class="btn btn-outline-info ml-9" (click)="filtrer()" style="border-radius: 0.5em;">{{ 'LABEL_FILTRE' | translate }}</button>
    </div> </div>

  <div>
  </div>

</div>

<app-table [columns]="columns" [rows]="rows" [adress]="adress" [surbriance]="surbriance"></app-table>

<!--[adress]="adress" [surbriance]="surbriance"  -->






lllllllllllllllllllllllllllllllllll


<div   >
  <ng-template #content let-modal >
    <div class="modal-header ">
      <h4 class="modal-title" id="modal-basic-title">Remise d'un message à disposition</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>

        <div class="form-group">
          <br>
          <h5>Critéres de sélections</h5>


          <div class="form-group">

          </div>
          <div class="form-group row">
            <label for="example-date-input" class="col-2 col-form-label">Date de debut</label>
            <div class="col-10">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-date-input" class="col-2 col-form-label">Date de fin</label>
            <div class="col-10">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
          </div>
          <br>
          <div class="form-group">
            <label >Autres Citére </label>

            <div class="form-group position-relative">

              <input type="email" class="form-control" id="example-mail" placeholder="Déstinatiare">
              <span class="form-clear d-none"><i class="material-icons">clear</i></span>
            </div>
          </div>
          <div class="form-group position-relative">
            <input type="email" class="form-control" id="example-mail" placeholder="Sujet">
            <span class="form-clear d-none"><i class="material-icons">clear</i></span>
          </div>
          <div class="form-group">
            <label>Date of birth</label>
            <div class="input-group">
              <div class="input-group-append">

              </div>
            </div>
          </div>
        </div>



      </form>
    </div>
    <div class="modafooter">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
</div>



