// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

//btn overwride bootstrap
.btn {
  //btn-link
  &.btn-link {
    border: none;
    padding: 0;
    background: none;
  }
  // Disabled
  &.disabled,
  &:disabled {
    background: $gray-100;
    color: $gray-300;
    border-color: $gray-100;
    cursor: not-allowed;
  }
  // If only icon remove margin and new padding
  &.btn-icon {
    padding-left: 0.75rem;
    i {
      margin-right: 0.5rem;
      font-size: $btn-line-height;
    }
    &.btn-sm {
      padding-left: 0.625rem;
      i {
        margin-right: 0.375rem;
        font-size: $btn-line-height-sm;
      }
    }
    &.btn-lg {
      padding-left: 0.875rem;
      i {
        margin-right: 0.625rem;
        font-size: $btn-line-height-lg;
      }
    }
  }
}

//responsive
@include media-breakpoint-down(sm) {
  .btn.btn-icon,
  .btn.btn-icon.btn-sm,
  .btn.btn-icon.btn-lg {
    i {
      margin-right: 0;
    }
    span {
      display: none;
    }
  }
  .btn.btn-icon {
    padding-right: 0.75rem;
  }
  .btn.btn-icon.btn-sm {
    padding-right: 0.625rem;
  }
  .btn.btn-icon.btn-lg {
    padding-right: 0.875rem;
  }
}
