.file-upload {
  .dropzone {
    background: $gray-10 !important;
    border: 1px dashed $blue-40 !important;
    height: 250px !important;
    &.ngx-dz-hovered {
      background-color: #bbbbef !important;
    }
  }

  .file {
    &:not(:last-child) {
      border-bottom: 1px solid $gray-20;
    }

    .icon-file {
      flex: 0 0 22px;
    }

    .name {
      flex: 1 0 160px;
    }

    .date {
      flex: 1 0 auto;
    }

    .size {
      flex: 1 0 80px;
    }

    .icon-trash {
      flex: 0 0 22px;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  img {
    display: none;
  }
}
