[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-docaposte";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-triangle:before {
  content: "\e800";
}

.icon-align-center:before {
  content: "\e801";
}

.icon-align-justify:before {
  content: "\e802";
}

.icon-align-left:before {
  content: "\e803";
}

.icon-align-right:before {
  content: "\e804";
}

.icon-archive:before {
  content: "\e805";
}

.icon-arrow-down:before {
  content: "\e806";
}

.icon-arrow-down-circle:before {
  content: "\e807";
}

.icon-arrow-down-left:before {
  content: "\e808";
}

.icon-arrow-down-right:before {
  content: "\e809";
}

.icon-arrow-left:before {
  content: "\e80a";
}

.icon-arrow-left-circle:before {
  content: "\e80b";
}

.icon-arrow-right:before {
  content: "\e80c";
}

.icon-arrow-right-circle:before {
  content: "\e80d";
}

.icon-arrow-up:before {
  content: "\e80e";
}

.icon-arrow-up-circle:before {
  content: "\e80f";
}

.icon-arrow-up-left:before {
  content: "\e810";
}

.icon-arrow-up-right:before {
  content: "\e811";
}

.icon-at-sign:before {
  content: "\e812";
}

.icon-authorization:before {
  content: "\e813";
}

.icon-bar-chart:before {
  content: "\e814";
}

.icon-bar-chart-2:before {
  content: "\e815";
}

.icon-battery:before {
  content: "\e816";
}

.icon-battery-charging:before {
  content: "\e817";
}

.icon-bell:before {
  content: "\e818";
}

.icon-bell-off:before {
  content: "\e819";
}

.icon-bold:before {
  content: "\e81a";
}

.icon-calendar:before {
  content: "\e81b";
}

.icon-camera-off:before {
  content: "\e81c";
}

.icon-check:before {
  content: "\e81d";
}

.icon-chevron-down:before {
  content: "\e81e";
}

.icon-chevron-left:before {
  content: "\e81f";
}

.icon-chevron-right:before {
  content: "\e820";
}

.icon-chevrons-down:before {
  content: "\e821";
}

.icon-chevrons-left:before {
  content: "\e822";
}

.icon-chevrons-right:before {
  content: "\e823";
}

.icon-chevrons-up:before {
  content: "\e824";
}

.icon-chevron-up:before {
  content: "\e825";
}

.icon-clé:before {
  content: "\e826";
}

.icon-clé-1:before {
  content: "\e827";
}

.icon-clé-2:before {
  content: "\e828";
}

.icon-cloud-off:before {
  content: "\e829";
}

.icon-columns:before {
  content: "\e82a";
}

.icon-complete:before {
  content: "\e82b";
}

.icon-copy:before {
  content: "\e82c";
}

.icon-corner-down-left:before {
  content: "\e82d";
}

.icon-corner-down-right:before {
  content: "\e82e";
}

.icon-corner-left-down:before {
  content: "\e82f";
}

.icon-corner-left-up:before {
  content: "\e830";
}

.icon-crop:before {
  content: "\e831";
}

.icon-database:before {
  content: "\e832";
}

.icon-download:before {
  content: "\e833";
}

.icon-download-cloud:before {
  content: "\e834";
}

.icon-e-courrier-copy:before {
  content: "\e835";
}

.icon-e-courrier:before {
  content: "\e836";
}

.icon-edit-2:before {
  content: "\e837";
}

.icon-edit-3:before {
  content: "\e838";
}

.icon-export:before {
  content: "\e839";
}

.icon-external-link:before {
  content: "\e83a";
}

.icon-external-link-1:before {
  content: "\e83b";
}

.icon-eye-off:before {
  content: "\e83c";
}

.icon-eye-on:before {
  content: "\e83d";
}

.icon-file:before {
  content: "\e83f";
}

.icon-file-minus:before {
  content: "\e840";
}

.icon-file-plus:before {
  content: "\e841";
}

.icon-file-text:before {
  content: "\e842";
}

.icon-filter:before {
  content: "\e843";
}

.icon-folder:before {
  content: "\e844";
}

.icon-folder-minus:before {
  content: "\e845";
}

.icon-folder-plus:before {
  content: "\e846";
}

.icon-grid:before {
  content: "\e847";
}

.icon-hash:before {
  content: "\e848";
}

.icon-heart:before {
  content: "\e849";
}

.icon-help-circle:before {
  content: "\e84a";
}

.icon-home:before {
  content: "\e84b";
}

.icon-idea:before {
  content: "\e84c";
}

.icon-image:before {
  content: "\e84d";
}

.icon-info:before {
  content: "\e84e";
}

.icon-info-fill:before {
  content: "\e84f";
}

.icon-italic:before {
  content: "\e850";
}

.icon-item:before {
  content: "\e851";
}

.icon-jpeg:before {
  content: "\e852";
}

.icon-launch:before {
  content: "\e853";
}

.icon-layout:before {
  content: "\e854";
}

.icon-link:before {
  content: "\e855";
}

.icon-link-2:before {
  content: "\e856";
}

.icon-list:before {
  content: "\e857";
}

.icon-log-in:before {
  content: "\e858";
}

.icon-log-out:before {
  content: "\e859";
}

.icon-mail:before {
  content: "\e85a";
}

.icon-mail-1:before {
  content: "\e85b";
}

.icon-map-pin:before {
  content: "\e85c";
}

.icon-maximize:before {
  content: "\e85d";
}

.icon-maximize-2:before {
  content: "\e85e";
}

.icon-menu:before {
  content: "\e85f";
}

.icon-message-circle:before {
  content: "\e860";
}

.icon-message-square:before {
  content: "\e861";
}

.icon-minimize:before {
  content: "\e862";
}

.icon-minimize-2:before {
  content: "\e863";
}

.icon-minus:before {
  content: "\e864";
}

.icon-more-horizontal:before {
  content: "\e865";
}

.icon-more-vertical:before {
  content: "\e866";
}

.icon-mouse-pointer:before {
  content: "\e867";
}

.icon-move:before {
  content: "\e868";
}

.icon-navigation:before {
  content: "\e869";
}

.icon-navigation-2:before {
  content: "\e86a";
}

.icon-paperclip:before {
  content: "\e86b";
}

.icon-pdf:before {
  content: "\e86c";
}

.icon-pen-tool:before {
  content: "\e86d";
}

.icon-percent:before {
  content: "\e86e";
}

.icon-phone:before {
  content: "\e86f";
}

.icon-phone-call:before {
  content: "\e870";
}

.icon-phone-forwarded:before {
  content: "\e871";
}

.icon-phone-incoming:before {
  content: "\e872";
}

.icon-phone-missed:before {
  content: "\e873";
}

.icon-phone-off:before {
  content: "\e874";
}

.icon-phone-outgoing:before {
  content: "\e875";
}

.icon-pie-chart:before {
  content: "\e876";
}

.icon-plus:before {
  content: "\e877";
}

.icon-plus-1:before {
  content: "\e878";
}

.icon-plus-circle:before {
  content: "\e879";
}

.icon-plus-square:before {
  content: "\e87a";
}

.icon-power:before {
  content: "\e87b";
}

.icon-refresh-ccw:before {
  content: "\e87c";
}

.icon-refresh-cw:before {
  content: "\e87d";
}

.icon-relaunch:before {
  content: "\e87e";
}

.icon-repeat:before {
  content: "\e87f";
}

.icon-reverse:before {
  content: "\e880";
}

.icon-rewind:before {
  content: "\e881";
}

.icon-rotate-ccw:before {
  content: "\e882";
}

.icon-rotate-cw:before {
  content: "\e883";
}

.icon-save:before {
  content: "\e884";
}

.icon-scissors:before {
  content: "\e885";
}

.icon-search:before {
  content: "\e886";
}

.icon-send:before {
  content: "\e887";
}

.icon-server:before {
  content: "\e888";
}

.icon-settings:before {
  content: "\e889";
}

.icon-share:before {
  content: "\e88a";
}

.icon-share-2:before {
  content: "\e88b";
}

.icon-sidebar:before {
  content: "\e88c";
}

.icon-sign:before {
  content: "\e88d";
}

.icon-signature:before {
  content: "\e88e";
}

.icon-simple_letter:before {
  content: "\e88f";
}

.icon-slash:before {
  content: "\e890";
}

.icon-sliders:before {
  content: "\e891";
}

.icon-spreadsheet:before {
  content: "\e892";
}

.icon-star:before {
  content: "\e893";
}

.icon-text:before {
  content: "\e894";
}

.icon-thumbs-down:before {
  content: "\e895";
}

.icon-thumbs-up:before {
  content: "\e896";
}

.icon-tool:before {
  content: "\e897";
}

.icon-trash:before {
  content: "\e898";
}

.icon-trash-2:before {
  content: "\e899";
}

.icon-trending-down:before {
  content: "\e89a";
}

.icon-trending-up:before {
  content: "\e89b";
}

.icon-type:before {
  content: "\e89c";
}

.icon-underline:before {
  content: "\e89d";
}

.icon-upload:before {
  content: "\e89e";
}

.icon-upload-cloud:before {
  content: "\e89f";
}

.icon-upload-cloud-1:before {
  content: "\e8a0";
}

.icon-user:before {
  content: "\e8a1";
}

.icon-user-check:before {
  content: "\e8a2";
}

.icon-user-minus:before {
  content: "\e8a3";
}

.icon-user-plus:before {
  content: "\e8a4";
}

.icon-users:before {
  content: "\e8a5";
}

.icon-user-x:before {
  content: "\e8a6";
}

.icon-wifi:before {
  content: "\e8a7";
}

.icon-wifi-off:before {
  content: "\e8a8";
}

.icon-x:before {
  content: "\e8a9";
}

.icon-x-circle:before {
  content: "\e8aa";
}

.icon-xls:before {
  content: "\e8ab";
}

.icon-x-octagon:before {
  content: "\e8ac";
}

.icon-x-square:before {
  content: "\e8ad";
}

.icon-zone:before {
  content: "\e8ae";
}

.icon-zoom-in:before {
  content: "\e8af";
}

.icon-zoom-out:before {
  content: "\e8b0";
}

.icon-activity:before {
  content: "\e8b1";
}

.icon-alert-circle:before {
  content: "\e8b2";
}

.icon-alert-octagon:before {
  content: "\e8b3";
}
