/* Fonts Montserrat Regular Italic Bold ItalicBold version-14 Latin */

@font-face {
  font-family: "montserrat-bold";
  src: url("src/assets/fonts/montserrat-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "montserrat-bold-italic";
  src: url("src/assets/fonts/montserrat-600italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "montserrat-medium";
  src: url("src/assets/fonts/montserrat-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "montserrat-medium-italic";
  src: url("src/assets/fonts/montserrat-500italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "montserrat-normal";
  src: url("src/assets/fonts/montserrat-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "montserrat-normal-italic";
  src: url("src/assets/fonts/montserrat-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "montserrat-light";
  src: url("src/assets/fonts/montserrat-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "montserrat-light-italic";
  src: url("src/assets/fonts/montserrat-300italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

//barlow
/* barlow light */
@font-face {
  font-family: "barlow-light";
  src: url("src/assets/fonts/barlow-300.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
/* barlow light italic */
@font-face {
  font-family: "barlow-light-italic";
  src: url("src/assets/fonts/barlow-300italic.woff") format("woff");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
/* barlow normal */
@font-face {
  font-family: "barlow-normal";
  src: url("src/assets/fonts/barlow-regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
/* barlow italic */
@font-face {
  font-family: "barlow-normal-italic";
  src: url("src/assets/fonts/barlow-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
/* barlow medium */
@font-face {
  font-family: "barlow-medium";
  src: url("src/assets/fonts/barlow-500.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
/* barlow medium italic */
@font-face {
  font-family: "barlow-medium-italic";
  src: url("src/assets/fonts/barlow-500italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
/* barlow bold */
@font-face {
  font-family: "barlow-bold";
  src: url("src/assets/fonts/barlow-600.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
/* barlow bold italic */
@font-face {
  font-family: "barlow-bold-italic";
  src: url("src/assets/fonts/barlow-600italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* font icon */
@font-face {
  font-family: "icon-docaposte";
  src: url("src/assets/fonts/icon-docaposte.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
