//label
label {
  color: $label-color;
  font-size: $label-font-size-lg;
  font-family: $label-font-family;
}

//label + icon help
label i {
  margin-left: 0.25rem;
}

//caption
p[class^="input-caption"] {
  color: $input-caption-error-color;
  font-family: $input-caption-font-family;
  font-size: $input-caption-font-size-lg;
  margin-top: $input-caption-margin-top;
  &.error {
    color: $input-caption-error-color;
  }
}

//input state
//ERROR
.form-group.errors input.ng-dirty {
  border-color: $input-caption-error-color;
}
label .input-icon-label-help {
  margin-left: $icon-label-margin-right;
}
//DISABLED
input:disabled,
input.disabled {
  border-color: $input-disabled-border;
  &::placeholder {
    opacity: 0.5;
  }
  & + .icon-input {
    color: $gray-30;
  }
}
//icon input gray if init state
input.ng-pristine + i {
  color: $lynch;
}

//input button action
.input-wrapper {
  position: relative;
  .action-input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    color: $primary;
  }
}

//input icon
.icon-input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  color: $ultramarine;
}

//responsive
@include media-breakpoint-down(sm) {
  label {
    font-size: $label-font-size-sm;
  }
  p[class^="input-caption"] {
    font-size: $input-caption-font-size-sm;
  }
}
@include media-breakpoint-down(md) {
  label {
    font-size: $label-font-size-md;
  }
  p[class^="input-caption"] {
    font-size: $input-caption-font-size-md;
  }
}
