.modal {
  &.modal-aside {
    &.modal-aside-right {
      .modal-dialog {
        right: 0;
        position: fixed;
        @include media-breakpoint-up(sm) {
          @include add-transition("slideInRight");
        }
      }
    }
    &.modal-aside-left {
      .modal-dialog {
        left: 0;
        position: fixed;
        @include media-breakpoint-up(sm) {
          @include add-transition("slideInLeft");
        }
      }
    }

    .modal-dialog {
      @include add-transition("slideInUp");
      margin: 0;
      height: 100vh;
      min-height: -webkit-fill-available;

      .modal-content {
        height: 100%;
        border: none;
        width: $modal-aside-width;
      }
      @include media-breakpoint-down("xs") {
        min-height: 0;
        height: 70vh;
        bottom: 0;
        .modal-content {
          width: 100vw;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }
      }
    }
    .modal-dialog.modal-lg {
      max-width: 100vw;
      .modal-content {
        width: 100vw;
        @include media-breakpoint-up(md) {
          max-width: $modal-aside-lg-width;
          width: auto;
          min-width: $modal-aside-width;
        }
      }
    }
  }
  @include media-breakpoint-down("xs") {
    .modal-dialog,
    .modal-content {
      border: none;
      width: 100vw;
      margin: 0;
      bottom: 0;
    }
  }
  &.modal-fullscreen .modal-dialog {
    margin: 0;
    width: 100vw;
    height: 100vh;
    min-height: -webkit-fill-available;
    max-width: 100vw;
    max-height: 100vh;
    position: fixed;
    @include add-transition("slideInUp");
    .modal-content {
      border: none;
      height: 100%;
    }
  }
  .modal-dialog {
    @include add-transition("slideInDown");
    @include media-breakpoint-up(sm) {
      @include add-transition("fadeInUp");
    }
  }
  &.info,
  &.warn,
  &.danger {
    .modal-content {
      border-radius: 8px;
    }
  }
  &.info {
    .modal-header {
      background-color: lighten($primary, 42%);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
  &.warn {
    .modal-header {
      background-color: lighten($warning, 37%);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        color: $warning;
      }
    }
  }
  &.danger {
    .modal-header {
      background-color: lighten($danger, 50%);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        color: $danger;
      }
    }
  }
  &.modal-z-index {
    z-index: 1051;
  }
}

.modal-header {
  .close {
    color: $danger;
  }
}

.modal-body {
  overflow: auto;
}
.modal-backdrop.fade.show {
  animation: fadeInBackdrop $transition-fade-duration;
}
.backdrop-z-index {
  z-index: 1051 !important;
}

@supports (-webkit-overflow-scrolling: touch) {
  .modal.modal-aside,
  .modal.modal-fullscreen {
    .modal-dialog,
    .modal-content {
      max-height: 100%;
    }
  }
  .modal-body {
    -webkit-overflow-scrolling: touch;
  }
}

@keyframes fadeInBackdrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: $modal-backdrop-opacity;
  }
}
