.stepper {
  .step-wrapper {
    cursor: default;

    .step {
      min-width: 100px;
      z-index: 1;
    }

    .bullet {
      font-size: 14px;
      min-width: 24px;
      width: 24px;
      height: 24px;
      text-align: center;
      color: $gray-20;
      background-color: $gray-20;
      border-radius: 50%;
      border: 5px solid $gray-20;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:first-child .bullet {
      margin-left: 0px;
    }

    .bullet-label {
      font-family: $font-family-base;
      color: $gray-20;
    }

    .separator {
      border-top: 6px solid $gray-20;
      margin-top: 36px;
    }

    &.step-selectable {
      cursor: pointer;

      .bullet {
        border-color: $primary;
        color: $primary;
      }

      .bullet-label {
        color: $primary;
      }
    }

    &.step-selected {
      .bullet {
        border-color: $primary;
        background-color: $white;
      }

      .separator {
        border-top: 6px solid $primary;
      }

      .bullet-label {
        color: $primary;
      }
    }

    &.step-completed {
      cursor: pointer;

      .bullet {
        border-color: $primary;
        background-color: $primary;
      }

      .separator {
        border-top: 6px solid $primary;
      }

      .bullet-label {
        color: $primary;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .bullet {
      margin-right: 8px;
    }

    .bullet-label {
      padding: 0px;
    }
  }
}
