.toast {
  max-width: $toast-max-width;
  border: none;
  .toast-body {
    display: none;
  }
  .toast-header {
    padding: 0;
    border: 0;
    align-items: initial;
    &:before {
      width: 8px;
      content: "";
      display: block;
    }
    .container-toast-description {
      padding: $toast-inside-spacer-y $toast-inside-spacer-x;
      align-items: center;
      display: flex;
      flex-grow: 1;
    }
    .toast-text {
      color: $toast-text-color;
    }
    button.close {
      color: $toast-arrow-color;
      opacity: 1;
      margin: 0 $toast-inside-spacer-x;
      align-self: center;
    }
  }
  &.toast-success {
    .toast-header:before {
      background: $success;
    }
    i[class^="icon"]:before {
      color: $success;
      content: "\e81d";
    }
  }
  &.toast-warning {
    .toast-header:before {
      background: $warning;
    }
    i[class^="icon"]:before {
      color: $warning;
      content: "\e8b2";
    }
  }
  &.toast-danger {
    .toast-header:before {
      background: $danger;
    }
    i[class^="icon"]:before {
      color: $danger;
      content: "\e800";
    }
  }
}
