.node {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  & > .label {
    border-color: #000d86;
    border-style: outset;
    display: inline-block;
    margin: 1.3em;
    padding: 1.3em;
    font-size: large;
    min-width: 10%;
  }
  & > .child > .label {
    border-color: #eeff00;
    border-style: dotted;
    display: inline-block;
    margin: 1em;
    padding: 1em;
    font-size: large;
  }
}
