<div class="node" *ngFor="let node of nodes">
  <div class="label">{{ node.label }}</div>
  <div class="child" *ngFor="let child of node.childs">
    <div class="label">{{ child.label }}</div>
  </div>
</div>
