//outline btn primary
@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline($value);
  }
}
//outline btn primary
@each $color, $value in $theme-colors {
  .btn-ghost-#{$color} {
    @include button-ghost-($value);
  }
}
