/*!
 * Docaposte theme
 * Copyright 2020 Docaposte
 * Based on Bootstrap 4+
 */

// Colors Background & text & button
/* standar colors */
$black: #16161c;
$dark: #292933;
$white: #ffffff;
$light: #f8f8fb;

/* variables brand colors */
$primary: #0000ff;
/* variables brand secondary colors */
$ultramarine: #00008c;
/* variables status colors */
$info: #3970e6;
$danger: #d00000;
$warning: #f18f01;
$success: #589422;
$focus: #6884ff;
$hover: #0101e4;
$active: #0000cc;

/* variables gray's shade */
$gray-10: #ececef;
$gray-20: #dadbe0;
$gray-30: #c6c8d0;
$gray-40: #b4b6c1;
$gray-50: #a1a4b1;
$gray-60: #8f92a1;
$gray-70: #7c7f91;
$gray-80: #696d82;
$gray-90: #565b72;
$gray-100: #444963;
$gray-title: #c4c4c4;

/* variables only for text color */
$lynch: #666d92;

/* variables only for background color */
$blue-10: #e5e5fd;
$blue-20: #ccccfb;
$blue-30: #b3b4f9;
$blue-40: #999af8;
$blue-50: #8182f7;
$blue-60: #6768f6;
$blue-70: #4d4ff5;
$blue-80: #3538f5;
$blue-90: #1d23f5;

/* Docaposte theme color */
$theme-colors: (
  "primary": $primary,
  "ghost": $primary,
  "ultramarine": $ultramarine,
  "info": $info,
  "danger": $danger,
  "warning": $warning,
  "success": $success,
  "light": $light,
  "black": $black,
  "dark": $dark,
  "white": $white,
  "focus": $focus,
  "hover": $hover,
);
/* Docaposte only for text color */
$color-text: ();
$color-text: map-merge(
  (
    "lynch": $lynch,
  ),
  $color-text
);
/* Docaposte only for text color */
$grays: (
  "gray-10": $gray-10,
  "gray-20": $gray-20,
  "gray-30": $gray-30,
  "gray-40": $gray-40,
  "gray-50": $gray-50,
  "gray-60": $gray-60,
  "gray-70": $gray-70,
  "gray-80": $gray-80,
  "gray-90": $gray-90,
  "gray-100": $gray-100,
  "gray-title": $gray-title,
);

/* Docaposte only for background color */
$color-background: ();
$color-background: map-merge(
  (
    "blue-10": $blue-10,
    "blue-20": $blue-20,
    "blue-30": $blue-30,
    "blue-40": $blue-40,
    "blue-50": $blue-50,
    "blue-60": $blue-60,
    "blue-70": $blue-70,
    "blue-80": $blue-80,
    "blue-90": $blue-90,
  ),
  $color-background
);

// Typography
/* font-size-body */
$font-size-base: 1rem;
$font-size-context: 16;

/* font-family */
$font-family-sans-serif: "barlow-normal", Roboto, sans-serif;
$font-family-base: $font-family-sans-serif;

/* font-weight */
$font-weight-normal: 400;
$font-weight-bold: $font-weight-normal;
$font-italic: normal;

/* font-size-title */
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.375;
$h4-font-size: $font-size-base * 1;
$h5-font-size: $font-size-base * 0.875;
$h6-font-size: $font-size-base * 0.875;

/* title properties */
$headings-lg-font-weight: 500;
$headings-sm-font-weight: 600;
$headings-lg-font-family: "montserrat-medium", Robot, sans-serif;
$headings-sm-font-family: "montserrat-bold", Robot, sans-serif;
$headings-color: $ultramarine;
$headings-margin-bottom: 0;

/* font-size-subtitle */
$subtitle-lg-font-size: $font-size-base * 1.125;
$subtitle-sm-font-size: $font-size-base * 0.875;

/* subtitles properties*/
$subtitle-color: $lynch;
$subtitle-font-family: "barlow-medium", Robot, sans-serif;
$subtitle-margin-bottom: 0;

/* font-size-paragraph */
$p-large: $font-size-base * 0.875;
$p-small: $font-size-base * 0.875;

/* font-size */
$font-size-8: 8;
$font-size-10: 10;
$font-size-12: 12;
$font-size-13: 13;
$font-size-14: 14;
$font-size-15: 15;
$font-size-16: 16;
$font-size-18: 18;
$font-size-22: 22;
$font-size-32: 32;
$font-size-40: 40;

/* Docaposte font-size map */
$font-sizes: ();
$font-sizes: map-merge(
  (
    "xxxxs": $font-size-8,
    "xxxs": $font-size-10,
    "xxs": $font-size-12,
    "xs": $font-size-13,
    "sm": $font-size-14,
    "md": $font-size-16,
    "lg": $font-size-18,
    "xl": $font-size-22,
    "xxl": $font-size-32,
    "xxxl": $font-size-40,
  ),
  $font-sizes
);

/* font weight italic */
$font-family-weight-bold: "barlow-bold", Roboto, sans-serif;
$font-family-weight-bold-italic: "barlow-bold-italic", Roboto, sans-serif;
$font-family-weight-normal: "barlow-normal", Roboto, sans-serif;
$font-family-weight-normal-italic: "barlow-italic", Roboto, sans-serif;
$font-family-weight-light: "barlow-light", Roboto, sans-serif;
$font-family-weight-light-italic: "barlow-light-italic", Roboto, sans-serif;

/* line clamp truncated text */
$line-2: 2;
$line-3: 3;
$line-4: 4;
$line-5: 5;

$lines-clamp: ();
$lines-clamp: map-merge(
  (
    "2": $line-2,
    "3": $line-3,
    "4": $line-4,
    "5": $line-5,
  ),
  $lines-clamp
);

//spacer
$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    45: (
      $spacer * 2.75,
    ),
    5: (
      $spacer * 3,
    ),
  ),
  $spacers
);

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 0;

// Grid columns
$grid-gutter-width: 24px;

$border-width: 1px;
$border-color: $gray-30;

$border-radius: 0.5rem;
$border-radius-lg: 0.3rem;
$border-radius-sm: 0.2rem;

// Cards
$card-spacer-y: 0.75rem;
$card-spacer-x: 1.25rem;
$card-border-width: $border-width;
$card-border-radius: $border-radius;
$card-border-color: rgba($black, 0.125);
$card-inner-border-radius: calc(#{$card-border-radius} - #{$card-border-width});
$card-cap-bg: rgba($black, 0.03);
$card-bg: $white;
$card-box-shadow: 0 0.063rem 0.625rem rgba(0, 0, 45, 0.06),
  0px 1px 4px rgba(0, 0, 45, 0.1), 0px 0px 0px rgba(0, 0, 46, 0.06);

// Toast
$toast-max-width: 27.813rem;
$toast-text-color: $gray-90;
$toast-arrow-color: $ultramarine;
$toast-inside-spacer-x: 1.813rem;
$toast-inside-spacer-y: 1.438rem;

// Progress bars
$progress-height: 0.75rem;
$progress-bg: $gray-10;
$progress-border-radius: 0.375rem;

// Form
$label-margin-bottom: 0.4375rem;
$label-color: $ultramarine;
$label-font-size-sm: 0.75rem;
$label-font-size-md: 0.8125rem;
$label-font-size-lg: 0.875rem;
$label-font-family: "barlow-medium", Robot, sans-serif;

$input-padding-y: 0.75rem;
$input-padding-x: 1rem;
$input-color: $ultramarine;
$input-placeholder-color: $lynch;
$input-line-height: 1.0625;

// Focus
$input-focus-border-color: $focus;
$input-font-size: 0.875rem;
$input-btn-focus-width: 0.2rem;
$input-btn-focus-color: rgba($focus, 0.25);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;

// Form error
$input-caption-error-color: $danger;
$input-caption-font-family: $font-family-weight-light-italic;
$input-caption-font-size-sm: 0.625rem;
$input-caption-font-size-md: 0.6875rem;
$input-caption-font-size-lg: 0.75rem;
$input-caption-margin-top: 0.5rem;

//svg label help
$icon-label-margin-right: 0.375rem;

//input disabled
$input-disabled-bg: $gray-10;
$input-disabled-border: $gray-10;

//button
$btn-border-radius: 1.875rem;
$btn-border-radius-lg: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;
$btn-font-family: "montserrat-medium", Robot, sans-serif;

$btn-padding-y: 0.75rem;
$btn-padding-x: 1.75rem;
$btn-font-size: 0.875rem;
$btn-line-height: 1.125rem;

$btn-padding-y-lg: 0.875rem;
$btn-padding-x-lg: 2rem;
$btn-font-size-lg: 1rem;
$btn-line-height-lg: 1.25rem;

$btn-padding-y-sm: 0.625rem;
$btn-padding-x-sm: 1.5rem;
$btn-font-size-sm: 0.75rem;
$btn-line-height-sm: 1rem;

$btn-disabled-opacity: 1;

//checkboxes
$checkbox-unchecked-bg: $lynch;
$checkbox-checked-bg: $info;
$checkbox-indicator-bg: $white;

$checkbox-switch-border-radius: 1rem;

$checkbox-switch-width: 2.25rem;
$checkbox-switch-width-sm: 1.75rem;
$checkbox-switch-width-lg: 2.75rem;

$checkbox-border-size: 0.0625rem;
$checkbox-border-style: solid;

$checkbox-delay: 0.3s;
$checkbox-checked-animation: cubic-bezier(0.2, 0.8, 0.32, 1.2);
$checkbox-unchecked-animation: ease;

$checkbox-size: 1rem;
$checkbox-size-sm: 0.75rem;
$checkbox-size-lg: 1.125rem;

$checkbox-switch-padding: $checkbox-border-size;
$checkbox-checkbox-padding: 0.25rem;

$checkbox-radio-border-radius: 50%;

// Breadcrumbs
$breadcrumb-bg: transparent;
$breadcrumb-divider-color: $lynch;
$breadcrumb-active-color: $primary;
$breadcrumb-divider: quote("/") !default;

$breadcrumb-border-radius: 0;

// animations
$transition-slide-in-duration: 0.4s ease-in-out !default;
$transition-fade-duration: 0.15s linear !default;
$transition-fade: opacity $transition-fade-duration !default;
// Modals

// Padding applied to the modal body

$modal-content-border-color: $white !default;
$modal-content-border-radius: 0 !default;
$modal-content-border-width: 0 !default;
$modal-header-border-width: 1px !default;
$modal-footer-border-width: 0 !default;

$modal-footer-border-width: 0 !default;
$modal-aside-width: 320px !default;
$modal-aside-lg-width: 800px !default;

$modal-content-box-shadow-xs: 0 0 0 0 !default;
$modal-content-box-shadow-sm-up: 0 0.5rem 1rem rgba($black, 0.1) !default;
