@import "src/docapost-base.scss";

#header {
  height: 3.5rem;
  min-height: 3.5rem;
  //position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050 + 1; // modal z-index: 1050;
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}


.brand-name {
  font-weight: 600 !important;
  font-family: Montserrat, serif;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.nav-right {
  height: 28px !important;
  padding-left: 1.4rem !important;

  .self {
    padding: 0.1rem 0.2rem !important;
    .person {
      .name {
        font-family: Montserrat, serif;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: 0.3px;
        text-align: left;
        color: $ultramarine !important;
        margin-left: 0.8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .marketplace {
        text-align: left;
        font-family: Barlow, serif;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $info !important;
        margin-left: 0.8rem;
        white-space: nowrap;
      }
    }
  }
  a {
    color: $ultramarine !important;
  }
}

.nav-left {
  height: 28px !important;
  border-color: $ultramarine !important;
  @include menu-item();
}

.nav-right {
  @include menu-item();
}

.img-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  padding-top: 0.7rem;
  font-family: Montserrat, serif;
  font-weight: 600;
  background-color: $info;
  font-stretch: normal;
  line-height: normal;
  font-style: normal;
  letter-spacing: -0.1rem;
  padding-right: 1px;
}

.ellipse-bell {
  width: 8px;
  height: 8px;
  border: solid 2px var(--secondary-white-2);
  background-color: #ff5657;
  position: absolute;
  border-radius: 50%;
  top: 1px;
  margin: 0 0 0 1.2rem;
}
