<!--<nav id="header" class="p-3 d-flex align-items-center">
  <h3 class="col-md-4 brand-name text-ghost text-truncate">
    {{ 'HEADER_BRAND_NAME' | translate }}
  </h3>
</nav>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-nav " id="header">

  <a class="navbar-brand " routerLink="/">
    <img src="assets/images/logoSesameVital.png" width="150px" class="logo"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">

  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown" >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" style="color: #474747" routerLink="/bal">  Boites au lettres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #474747"  routerLink="/rejou"> Rejeu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/utilisateurs" style="color: #474747" >  Utilisateur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/configuration" style="color: #474747" > Configurations</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" style="color: #474747">Administrateur GIE <i class="fa fa-user mx-1" style="width: 40px" ></i>  <i class="fa fa-close " ></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  style="cursor: pointer"> <i class="fa fa-sign-language mx-1" > </i> </a>
      </li>
    </ul>
  </div>
</nav>

<!--<i class="fa fa-sign-in mx-1" ></i>-->

<!--

<nav class="navbar navbar-expand-lg navbar-dark bg-nav " style="border: 1px solid " id="header">

  <a class="navbar-brand " routerLink="/">

    <img src="assets/images/logoNavbar.PNG" width="150px" class="logo"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">

  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown" >
    <ul class="navbar-nav" >
      <li class="nav-item">
        <a class="nav-link" style="color: #474747 ;" routerLink="/help"> Boites au lettres</a>
      </li>
      <li class="nav-item active"  >
        <a class="nav-link" style="color: #474747"  routerLink="/"> Rejeu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/" style="color: #474747" >Utilisateur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/configuration" style="color: #474747" > Configurations</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" style="color: #474747"><i class="fa fa-user mx-1" style="width: 40px" ></i>   Administrateur {{superuser}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  style="cursor: pointer"> </a>
      </li>
    </ul>
  </div>
</nav>


-->








<!--


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  &lt;!&ndash; Brand/logo &ndash;&gt;
  <a class="navbar-brand" href="#">
    <img src="assets/images/logoSesameVital.png" alt="logo" style="width:40px;">
  </a>

  &lt;!&ndash; Links &ndash;&gt;
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Boites aux lettres</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Rejoux</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Utilisateur</a>

    </li>

  </ul>
</nav>
-->
