@import "assets/styles/themes/docaposte-theme";
@import "assets/styles/basics/functions";
@import "assets/styles/basics/mixins";
/** End Docapost surchage Bootstrap **/

/** Start bootstrap imports **/
@import "~bootstrap-scss/functions";
@import "~bootstrap-scss/variables";
@import "~bootstrap-scss/mixins";
/** End bootstrap imports **/

@mixin menu-item() {
  a {
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
    color: $ultramarine;
    margin-right: 0.5rem !important;
    padding: 0.5rem !important;

    span {
      padding-left: 0.45rem;
      white-space: nowrap;
      font-family: Montserrat, serif;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: 0.3px;
      text-align: right;
    }
  }
}

@media (min-width: 1440px) {
  .d-hdpi-block {
    display: block !important;
  }
  .d-hdpi-none {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .d-desktop-none {
    display: none !important;
  }

  .d-desktop-block {
    display: block !important;
  }
}
