/*!
 * Docaposte theme
 * Copyright 2020 Docaposte
 * Based on Bootstrap 4+
 */
@import "~@angular/cdk/overlay-prebuilt.css";

/** Start Docapost surchage Bootstrap **/
@import "assets/styles/themes/docaposte-theme";
@import "assets/styles/basics/functions";
@import "assets/styles/basics/mixins";
@import "assets/styles/basics/types";
/** End Docapost surchage Bootstrap **/

/** Start bootstrap imports **/
@import "~bootstrap-scss/bootstrap";
/** End bootstrap imports **/

/** Start Docapost design-system imports **/
@import "assets/styles/basics/breadcrum";
@import "assets/styles/basics/fonts";
@import "assets/styles/basics/font-icon";
@import "assets/styles/basics/buttons";
@import "assets/styles/basics/card";
@import "assets/styles/basics/forms";
@import "assets/styles/basics/progress";
@import "assets/styles/basics/stepper";
@import "assets/styles/basics/toast";
@import "assets/styles/basics/utilities";
@import "assets/styles/basics/tooltip";
@import "assets/styles/basics/file-upload";
@import "assets/styles/basics/checkboxes";
@import "assets/styles/basics/modal";
/** End Docapost design-system imports **/

html,
body {
  height: 100%;
  overflow-x: hidden;
}
.hr-border {
  height: 1px;
  background-color: #dfdfdf;
}

.img-thumbnail.presentation-color {
  width: 96px;
  height: 64px;
  flex: 0 0 96px;
}

pre[class*="language-"] {
  padding: 20px;

  code,
  span {
    font-size: 13px;
  }
}

.bg-lynch {
  background: $lynch;
}

input {
  &.img-flag,
  &.img-checkbox {
    width: 40px !important;
    height: 40px !important;
    border: none;
    background: $dark;
    &:checked:after {
      border: 1px solid $info;
      opacity: 1 !important;
    }
    &:not(:checked):hover:after {
      opacity: 1 !important;
    }
  }
  &.img-flag:after,
  &.img-checkbox:after {
    content: "";
    width: 40px;
    height: 40px;
    transform: scale(1) !important;
    opacity: 0.7 !important;
  }
  &.flag-fr:after {
    background: url("/frenchFlag.png") !important;
    background-size: 40px !important;
  }
  &.flag-en:after {
    background: url("/englishFlag.png") !important;
    background-size: 40px !important;
  }
  &.flag-es:after {
    background: url("/spanishFlag.png") !important;
    background-size: 40px !important;
  }
  &.theme-docaposte:after {
    background: url("/themeDocaposte.png") !important;
    background-size: 40px !important;
  }
  &.theme-orange:after {
    background: url("/themeOrange.png") !important;
    background-size: 40px !important;
  }
}

// for cdk overlay

.menu-container {
  min-width: 112px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 117px); // 117px footer hieght + navbar hieght + 1px
  border-radius: 4px;
  outline: 0;
  min-height: 64px;
  background: #fff;
  // elvation-4:
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 11000;
  margin-top: 1.5rem;
  padding: 1rem;
}

.menu-panel {
  display: flex;
  min-height: 0px;
  border-radius: 1rem;
}

.menu-backdrop-mobile {
  background-color: #00000030;
}

.modal {
  z-index: 1060 !important;

  .modal-dialog {
    z-index: 1070 !important;
    top: 3.5rem;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
}

.color-danger {
  color: $danger !important;
}

.color-primary {
  color: $primary !important;
}

.color-ultramarine {
  color: $ultramarine !important;
}

.flag-fr {
  background-image: url("/assets/images/flags/flag-fr.png") !important;
  background-repeat: no-repeat;
  background-position: right top;
  height: 100%;
}

.flag-uk {
  background-image: url("/assets/images/flags/flag-uk.png") !important;
  background-repeat: no-repeat;
  background-position: right top;
  height: 100%;
}

.flag-us {
  background-image: url("/assets/images/flags/flag-us.png") !important;
  background-repeat: no-repeat;
  background-position: right top;
  height: 100%;
}

.flag-es {
  background-image: url("/assets/images/flags/flag-es.png") !important;
  background-repeat: no-repeat;
  background-position: right top;
  height: 100%;
}

.flag-de {
  background-image: url("/assets/images/flags/flag-de.png") !important;
  background-repeat: no-repeat;
  background-position: right top;
  height: 100%;
}

.flag-nl {
  background-image: url("/assets/images/flags/flag-nl.png") !important;
  background-repeat: no-repeat;
  background-position: right top;
  height: 100%;
}

.flag-it {
  background-image: url("/assets/images/flags/flag-it.png") !important;
  background-repeat: no-repeat;
  background-position: right top;
  height: 100%;
}

.flag-pt {
  background-image: url("/assets/images/flags/flag-pt.png") !important;
  background-repeat: no-repeat;
  background-position: right top;
  height: 100%;
}


/*surbriance*/
.highlight {
  background-color: violet;
  font-weight: bold;
}
